#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#MonoDevelop
*.pidb
*.userprefs

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
*.sass-cache

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

#ncrunch
*ncrunch*
*crunch*.local.xml

# visual studio database projects
*.dbmdl
/Sources/Backend/Equator.Goodster.Backend.WebAPI/App_Data/Equator.Goodster.Backend.WebAPI.XML
/Sources/Backend/Equator.Goodster.Backend.Api.Auth/App_Data/Equator.Goodster.Backend.Api.Auth.XML
/Sources/Backend/Equator.Goodster.Backend.Api.Caterer/App_Data/Equator.Goodster.Backend.Api.Caterer.XML
/Sources/Backend/Equator.Goodster.Backend.Api.Supplier/App_Data/Equator.Goodster.Backend.Api.Supplier.XML
/Sources/Backend/Equator.Goodster.Backend.Web.Media/images/*